@import '../../styles/base/_settings';

// Widget

.widget {
    background: $light_blue;
    margin-bottom: $xl_size;
}


.widget__message {
    border-bottom: 1px solid lighten($color: $light_blue, $amount: 10%);
    color: $off_white;
    padding: $l_size;
    margin: 0;
    text-align: center;
}

// Widget header

.widget-header {
    background: $blue;
    color: $off_white;
    display: flex;
    justify-content: space-between;
    padding: $m_size;
}

.widget-header__title {
    margin: 0;
}