@import '../../../styles/base/settings';

.add-option {
    display: flex;
    padding: $m_size;
}

.add-option__input {
    background: $dark_blue;
    border: none;
    border-bottom: 0.3rem solid darken($color: $dark_blue, $amount: 10%);
    color: $off_white;
    flex-grow: 1;
    margin-right: $s_size;
    padding: $s_size;
}
